<div class="container" style="padding:50px;">
  <div class="mx-auto" style="width: 400px;">
    <div><h3>Öğrenci kaydı oluştur <%= current_school.email %></h3></div>
    <%= render 'form' %>
</div>

</div>
