<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="">
        <div class="container">
          <br><br>
          <h3 class="display-4">OKUL GÜVENLİĞİ ÖLÇEĞİ</h3><br>
          <p>City Security Group ve Bahçeşehir Üniversitesi iş birliğiyle hazırlanan bu anket, öğrencilerin eğitim aldıkları okula dair güvenlik algılarını ölçmek amacıyla hazırlanmıştır. Uygulanan bu anket ile okulun eğitim-öğretim ortamının zenginleştirilmesine katkı sağlanması amaçlanmaktadır.
            <br/><br/>Cevaplarınız gizli tutulacak, araştırmacılar dışında kimse ile paylaşılmayacaktır. Burada doğru-yanlış cevap yoktur. Önemli olan sizin okulunuzun güvenliğine dair algınızı yansıtmanızdır. Araştırmanın verimliliği açısından cevaplarınızın içten ve samimi olması önemlidir.
            <br/><br/>Katılımınız için teşekkür ederiz.</p><br/>
          <p><a class="btn btn-primary btn-lg" href="http://csgsecurity.com.tr/wp-content/uploads/2018/03/CSG-G%C3%9CVENL%C4%B0-OKUL-TANITIM-KATALO%C4%9EU.pdf" target="_blank" role="button">Detaylı Bilgi</a></p>
        </div>
      </div>
  <br><br>

      <div class="container">
        <% if school_signed_in? || admin_signed_in? %>

        <h4><%= current_school.name if current_school %><%= "City Security Group Yönetici" if current_admin %></h4>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Öğrencileri Görüntüle</h5>
                <p class="card-text">Öğrenci kayıtlarını yönet.</p>
                <%= link_to 'Öğrenciler', students_path, class: "btn btn-warning" %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Yeni Öğrenci Oluştur</h5>
                <p class="card-text">Öğrencilerin kaydını oluşturarak sistemi güncel tut.</p>
                <%= link_to 'Yeni Öğrenci Oluştur', new_student_path, class: "btn btn-warning" %>
              </div>
            </div>
          </div>
        </div>

        <% end %>

      </div> <!-- /container -->

    </main>
