

  <div class="container" style="margin-top:70px;">
    <div class="mx-auto text-center"><h3>Okul Güvenliği Ölçeği Formu | <%= @school_name %></h3></div>
  <%= render 'form', form: @form %>
  </div>
