

  <div class="container" style="margin-top:70px;">
    <div class="mx-auto text-center"><h3>Okul Güvenliği Ölçeği Formu</h3></div>
    <br>
    <div class="alert alert-secondary" role="alert">
      <p>City Security Group ve Bahçeşehir Üniversitesi iş birliğiyle hazırlanan bu anket, öğrencilerin eğitim aldıkları okula dair güvenlik algılarını ölçmek amacıyla hazırlanmıştır. Uygulanan bu anket ile okulun eğitim-öğretim ortamının zenginleştirilmesine katkı sağlanması amaçlanmaktadır.</p>

      <p>Cevaplarınız gizli tutulacak, araştırmacılar dışında kimse ile paylaşılmayacaktır. Burada doğru-yanlış cevap yoktur. Önemli olan sizin okulunuzun güvenliğine dair algınızı yansıtmanızdır. Araştırmanın verimliliği açısından cevaplarınızın içten ve samimi olması önemlidir.</p>

      <p>Katılımınız için teşekkür ederiz.</p>
    </div>
  <%= render 'form', form: @form %>
  </div>
